<div class="row">

  <div class="container text-center">
    <span style="color: {{resultColor}}"></span>
  </div>

  <!-- Login form -->
  <div class="col-4 offset-4 my-3">
    <div class="text-center mb-3">
      <div class="d-inline-flex align-items-center justify-content-center mb-4 mt-2">
        <img src="./assets/images/dog-green.svg" class="h-48px" alt="">
      </div>
      <h5 class="mb-0">Login to your account</h5>
      <span class="d-block text-muted">Enter your credentials below</span>
    </div>

    <div class="mb-3">
      <label class="form-label">Username</label>
      <input [(ngModel)]="username" class="form-control" id="username" placeholder="Enter Username">
    </div>

    <div class="mb-3">
      <label class="form-label">Password</label>
      <input [(ngModel)]="password" type="password" class="form-control" id="password" placeholder="Enter Password">
    </div>

    <div class="mb-3">
      <button type="button" class="btn btn-light w-100" (click)="doLogin()">Login</button>
    </div>
  </div>
  <!-- /login form -->

  <button class="btn btn-primary" (click)="showToast()">Show Toast</button>

  <app-toast></app-toast>

</div>