


<div class="container">
  <h2>List of dogs : </h2>
  <ul class="dogs">
    <li *ngFor="let dog of currentPagedogs">
      <button type="button" (click)="deletedog(dog.id)">X</button>
      <a routerLink="/dogs/{{dog.id}}">
        <span>{{ dog.name }}</span> ( <span style="color: {{ dog.color }}">{{ dog.color }}</span> )
      </a>
    </li>
  </ul>
  <button type="button" (click)="previousPage()" class="btn btn-light">&lt;-- Prev</button>
  <button type="button" (click)="nextPage()" class="btn btn-light">Next --&gt;</button>
</div>

