#container{
  width: auto;
  height: 60vh;
  background-image: url(../assets/images/fetchbannernew.jpg);
  background-position: top;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}