<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home"><img src="./assets/images/dog.svg" style="height: 1.5em; width: 1.5em;" class="me-3">Fetch</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                <li class="nav-item me-3" >
                    <a routerLink="/home" routerLinkActive="active" class="nav-link px-3">Home</a>
                </li>
                <li class="nav-item me-3">
                    <a routerLink="/browse" routerLinkActive="active" class="nav-link px-3">Adopt</a>
                </li>
                <li class="nav-item me-3">
                    <a *ngIf="authService.getToken() || authService.hasRole('readWrite')" routerLink="/dogs" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link px-3">Manage</a>
                </li>
                <!-- <li class="nav-item me-3">
                    <a *ngIf="authService.getToken() || authService.hasRole('readWrite')" routerLink="/dogs/create" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link px-3">Add</a>
                </li> -->
            </ul>
        </div>
        <div class="login">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li *ngIf="!authService.getToken()" class="nav-item">
                    <a class="nav-link pointer" (click)="logout()">Login</a>
                </li>
                <li *ngIf="authService.getToken()" class="nav-item">
                    <a class="nav-link pointer" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<div class="footer bg-green text-center">
    <p class="text-white mb-0 p-4">© 2024 Fetch, Inc</p>
</div>