<nav class="navbar navbar-expand-md bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand me-auto" routerLink="/dashboard"><img src="./assets/images/dog.svg"
        style="height: 1.5em; width: 1.5em;" class="me-3">Fetch</a>
      <div class="login">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li *ngIf="!authService.getToken()" class="nav-item">
                  <a class="nav-link pointer" (click)="logout()">Login</a>
              </li>
              <li *ngIf="authService.getToken()" class="nav-item">
                  <a class="nav-link pointer" (click)="logout()">Logout</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
<div class="second-nav shadow-sm">
    <nav class="nav" aria-label="Secondary navigation">
        <a routerLink="/browse" class="nav-link">Home</a>
        <a *ngIf="authService.getToken() || authService.hasRole('readWrite')" class="nav-item" routerLink="/dogs" class="nav-link">Manage</a>
        <a *ngIf="authService.getToken() || authService.hasRole('readWrite')" class="nav-item" routerLink="/dogs/create" class="nav-link">Add</a>
    </nav>
</div>
<div id="container">

</div>
<router-outlet></router-outlet>
