.navbar.bg-primary {
  background-color: #09ae38 !important;
  color: #fff;
}

.navbar.bg-primary .navbar-brand,.navbar.bg-primary .navbar-brand a {
  color: #fff
}

.navbar.bg-primary .navbar-nav>.nav-link,.navbar.bg-primary .navbar-nav>.nav-item>.nav-link,.navbar.bg-primary .navbar-nav>.nav>.nav-item>.nav-link {
  color: #fff
}

.nav-link {
  border-radius: 2rem !important;
  text-align: center;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-link.active {
  background-color: rgba(0, 0, 0, 0.5);
}

/*
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
*/