<div aria-live="polite" aria-atomic="true" class="position-relative">
  <div class="toast-container bottom-0 start-50 translate-middle-x">
      <div *ngFor="let toast of toastService.toasts" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
              <strong class="me-auto">Bootstrap</strong>
              <button type="button" class="btn-close" (click)="toastService.remove(toast)"></button>
          </div>
          <div class="toast-body">
              {{ toast.message }}
          </div>
      </div>
  </div>
</div>