<div class="container">
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title d-flex align-items-baseline flex-wrap">
                <h5 class="mb-0">Fetch Adoption</h5>
                <span class="page-subtitle text-muted">Find the perfect match for your furever home</span>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3">
            <!-- Filter Controls -->
            <div class="filters text-center mb-3">
                <select [(ngModel)]="filters.breed" class="form-control mb-2">
                    <option value="">Select Breed</option>
                    <option value="Beagle Mix">Beagle Mix</option>
                    <option value="Border Terrier">Border Terrier</option>
                    <option value="Chihuahua">Chihuahua</option>
                    <option value="German Shepard">German Shepard</option>
                    <option value="Golden Retriever">Golden Retriever</option>
                    <option value="Lab Mix">Lab Mix</option>
                    <option value="Miniature Schnauzer">Miniature Schnauzer</option>
                    <option value="Pitbull">Pitbull</option>
                    <option value="Shepherd Mix">Shepherd Mix</option>
                    <option value="Siberian Husky">Siberian Husky</option>
                    <option value="Terrier Mix">Terrier Mix</option>
                </select>
                <select [(ngModel)]="filters.gender" class="form-control mb-2">
                    <option value="">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <select [(ngModel)]="filters.size" class="form-control mb-2">
                    <option value="">Select Size</option>
                    <option value="Small">Small</option>
                    <option value="Medium">Medium</option>
                    <option value="Large">Large</option>
                </select>
                <select [(ngModel)]="filters.color" class="form-control mb-2">
                    <option value="">Select Color</option>
                    <option value="Black">Black</option>
                    <option value="Blue">Blue</option>
                    <option value="Brown">Brown</option>
                    <option value="Cream">Cream</option>
                    <option value="Golden">Golden</option>
                    <option value="Grey">Grey</option>
                    <option value="Red">Red</option>
                    <option value="White">White</option>
                </select>
                <select [(ngModel)]="filters.location" class="form-control mb-2">
                    <option value="">Select Location</option>
                    <option value="Conway, AR">Conway, AR</option>
                    <option value="Denver, CO">Denver, CO</option>
                    <option value="Maumelle, AR">Maumelle, AR</option>
                    <option value="North Little Rock, AR">North Little Rock, AR</option>
                    <option value="San Francisco, CA">San Francisco, CA</option>
                </select>
                <button (click)="applyFilters()" class="btn btn-primary">Apply Filters</button>
            </div>
        </div>

        <!-- Sorting Controls NEED TO FIX-->
        <!-- <div class="sorting text-center mb-3">
                <select [(ngModel)]="sortCriteria" class="form-control mb-2">
                    <option value="">Sort By</option>
                    <option value="name">Name</option>
                    <option value="breed">Breed</option>
                    <option value="gender">Gender</option>
                    <option value="adoptionFee">Adoption Fee</option>
                </select>
                <button (click)="toggleSortOrder()" class="btn btn-secondary mb-2">
                    Sort Order: {{ sortOrder === 'asc' ? 'Ascending' : 'Descending' }}
                </button>
            </div> -->
        <!-- </div> -->
    
        <div class="col-9">
            <div class="card mb-3 border-0" *ngFor="let dog of currentPageDogs">
                <div class="row g-0">
                    <div class="col-md-4">
                        <ng-container *ngIf="dog.photos && dog.photos.length > 0; else placeholder">
                            <img [src]="baseUrl + dog.photos[0]" class="img-fluid rounded-start h-100" alt="Dog">
                        </ng-container>
                        <ng-template #placeholder>
                            <img src="https://placehold.co/600x400.png" class="img-fluid rounded-start h-100" alt="Dog">
                        </ng-template>
                    </div>

                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">{{ dog.name }}</h4>
                            <div class="row">
                                <ul class="col-sm-4 list-unstyled">
                                    <li>Age: {{ dog.age }}</li>
                                    <li>Breed: {{ dog.breed }}</li>
                                    <li>Gender: {{ dog.gender }}</li>
                                    <li>Temperament: {{ dog.temperament }}</li>
                                </ul>
                                <ul class="col-sm-4 list-unstyled">
                                    <li>Size: {{ dog.size }}</li>
                                    <li>Weight: {{ dog.weight }}</li>
                                    <li>Color: {{ dog.color }}</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex align-items-center justify-content-between flex-wrap">
                    <button type="button" (click)="previousPage()" class="btn btn-light"><i
                            class="bi bi-chevron-left me-1"></i> Prev</button>
                    <div>Page {{ currentPage + 1 }} of {{ pageCount }}</div>
                    <button type="button" (click)="nextPage()" class="btn btn-light">Next <i
                            class="bi bi-chevron-right ms-1"></i></button>
                </div>
            </div>
        </div>

        <!-- <div class="col-9">
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Breed</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Color</th>
                        <th scope="col">Size</th>
                        <th scope="col">Location</th>
                        <th scope="col">Adoption Fee</th>
                        <th scope="col">Photos</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let dog of currentPageDogs">
                        <td>{{ dog.name }}</td>
                        <td>{{ dog.breed }}</td>
                        <td>{{ dog.gender }}</td>
                        <td>{{ dog.color }}</td>
                        <td>{{ dog.size }}</td>
                        <td>{{ dog.location }}</td>
                        <td>${{ dog.adoptionFee ? dog.adoptionFee: 0 }}</td>
                        <td>{{ dog.photos ? 'Yes' : 'No'}}</td>
                    </tr>
                    </tbody>
                </table> -->
        <!-- <div class="d-flex align-items-center justify-content-between flex-wrap">
            <button type="button" (click)="previousPage()" class="btn btn-light"><i class="bi bi-chevron-left me-1"></i>
                Prev</button>
            <div>Page {{ currentPage + 1 }} of {{ pageCount }}</div>
            <button type="button" (click)="nextPage()" class="btn btn-light">Next <i
                    class="bi bi-chevron-right ms-1"></i></button>
        </div> -->
    </div>
</div>

<!-- </div> -->