/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f9f9f9;
  color: #1a1a1a;
}

h1 {
  color: #b30000;
  font-size: 2rem;
}

div#content {
  font-size: 1rem;
}

div#content p {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

div.picture-frame {
  background-color: #444444;
  color: #d0d0d0;
  margin: .5em;
  padding: 1em;
  text-align: center;
  border-style: double;
  border-width: 0.4em;
  border-color: #9b9b9b;
  border-radius: 1em;
}

.form-text {
  color: #74829c !important;
}

label.required:after {
  content: " * Required";
  font-size: 0.65rem;
  color: #fc4c5e;
}

/* Page Header Start */
.page-header {
  --page-header-padding-y: 1.5rem;
  --page-header-padding-x: 1.25rem;
  --page-header-bg: transparent;
  background-color: var(--page-header-bg)
}

.page-title {
  padding: var(--page-header-padding-y) 0;
  position: relative
}

.page-subtitle {
  --spacer-2: 0.625rem;
  margin-left: var(--spacer-2)
}

.page-subtitle:before {
  content: "/";
  margin-right: calc(var(--spacer-2) + .25rem)
}
/* Page Header Start */

.legend {
  padding: 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #e5e5e5;
  line-height: 1.75;
}

.card-footer {
  background-color: #fff;
  border-top: 1px solid transparent;
  padding-bottom: 1rem;
  padding-top: 0;
}

.btn-white {
  background-color: #fff;
  color: #4e2d7f;
}

.btn-white:hover {
  background-color: rgba(0, 0, 0, .25);
  color: #fff;
}

.pointer {
  cursor: pointer;
}

.page {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.page-small {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.bg-white {
  background-color: #fff;
}

.bg-section {
  background-color: #f7f7f8;
}

.bg-grey {
  background-color: #f5f9fa;
}

.bg-green-light {
  background-color: #e6f0e9;
}

.bg-green {
  background-color: #0bbb3d;
}

.active-link {
  color: red !important;
}

.card {
  border-radius: .375rem;
  box-shadow: 0 .125rem .25rem rgba(165,163,174,.3)
}
.bg-light {
  background-color: #F9F9F9 !important;
}

.hover-border {
  border: 10px solid transparent;
}

.hover-border:hover {
  border: 10px solid #0bbb3d;
}